apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-api-deployment
  labels:
    app: test-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: test-api
  template:
    metadata:
      labels:
        app: test-api
    spec:
      containers:
      - name: test-api
        image: ryan121/test-app:latest
        ports:
        - containerPort: 5000
        # env:
        # - name: SPRING_DATASOURCE_USERNAME
        #   valueFrom:
        #     secretKeyRef:
        #       name: userservice-secret
        #       key: spring.datasource.username
        # - name: SPRING_DATASOURCE_PASSWORD
        #   valueFrom:
        #     secretKeyRef:
        #       name: userservice-secret
        #       key: spring.datasource.password
        # - name: JWT_SECRET
        #   valueFrom:
        #     secretKeyRef:
        #       name: userservice-secret
        #       key: jwt.secret