apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-api-deployment
  labels:
    app: test-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: test-api
  template:
    metadata:
      labels:
        app: test-api
    spec:
      containers:
      - name: test-api
        image: ryan121/test-app:latest
        ports:
        - containerPort: 5000