apiVersion: v1
kind: Service
metadata:
  name: test-api-service
spec:
  selector:
    app: test-api
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 5000
  type: LoadBalancer