    <!-- Header / Navbar -->
    <section>
      <div class="header-outer-container">
        <div class="header-inner-container">
  
          <div class="icon-container"><a href="#"><img class="icon" src="/static/media/icons8-transparency-64.png"></a></div>
  
          <div class="links-container">
            <div class="links-div"><a href="/home/" class="links"><b>Home</b></a></div>
            <div class="links-div"><a href="/news/" class="links"><b>News</b></a></div>
            <div class="links-div"><a href="/sport/" class="links"><b>Sport</b></a></div>
            <div class="links-div"><a href="/weather/" class="links"><b>Weather</b></a></div>
            <div class="links-div"><a href="/food/" class="links"><b>Food</b></a></div>
          </div>
  
          <div class="icon-container"><img class="icon" src="/static/media/icons8-idea-sharing-64.png"></div>
  
        </div>
  
      </div>
    </section>